.jumbotron {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.jumbotron > .container, #display {
    height: 100%;
}

#display {
    justify-content: center;
}

#display, h2 {
    text-align: center;
}

.section {
    margin-top: 25px;
}

#my-photo {
    width: 50%;
}