.jumbotron {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.jumbotron > .container, #display {
    height: 100%;
}

#display {
    text-align: center;
    justify-content: center;
}

h2 {
    text-align: center;
}